<a href="#" class="clearfix">
	<div class="image">
		<i class="fa fa-{{ icon }} bg-{{ context }}"></i>
	</div>
	<span class="title">{{ title }}</span>
	<span class="message">{{ description }}</span>
</a>