<form action="{{ link }}" class="search nav-form{{ classes }}">
	<div class="input-group input-search">
		<input type="text" class="form-control" name="q" id="q" placeholder="Recherche...">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
		</span>
	</div>
</form>