<div class="widget-stats{{ classes }}">
    <ul>
        {% for progressBar in progressBars %}
            <li>
                {{ renderBlock(progressBar) }}
            </li>
        {% endfor %}
    </ul>
</div>