<div class="widget-tasks{{ classes }}">
    <ul class="list-unstyled m-none">
        {% for task in tasks %}
            <li><a href="{{ task.link }}">{{ task.title }}</a></li>
        {% endfor %}
    </ul>
</div>