{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block user_content %}
    <p>
        {{ user.username }} email confirmé,
        recevrez mail quand admin ok
    </p>
{% endblock user_content %}
