{% extends "MemberBundle::layout.html.twig" %}

{% block member_content %}
    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}
    {% for owner in member_oauth_resource_owners() %}
    <a href="{{ member_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
    {% endfor %}
{% endblock member_content %}
