{% extends "MemberBundle::layout.html.twig" %}

{% block member_content %}
    <h3>{{ 'header.registration_success' | trans({'%username%': app.user.username}, 'HWIOAuthBundle') }}</h3>
{% endblock member_content %}
