<section class="content-with-menu{% if toolbar.root %} content-with-menu-has-toolbar{% endif %} entity">
    <div class="content-with-menu-container">
        {{ renderBlock(sidebar) }}
        <div class="inner-body entity-content">
            {% if toolbar.root %}
                <div class="inner-toolbar clearfix">
                    {{ renderBlock(toolbar) }}
                </div>
            {% endif %}
            {{ renderBlock(content) }}
        </div>
    </div>
</section>