<!-- start: page -->
<section class="content-with-menu mailbox">
    <div class="content-with-menu-container" data-mailbox data-mailbox-view="folder">
        {{ renderBlock(sidebar) }}
        <div class="inner-body mailbox-folder">
            <!-- START: .mailbox-header -->
            {{ renderBlock(content) }}
        </div>
    </div>
</section>
<!-- end: page -->