<header class="mailbox-header">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="mailbox-title text-weight-light m-none">
                {#<a id="mailboxToggleSidebar" class="sidebar-toggle-btn trigger-toggle-sidebar">#}
                    {#<span class="line"></span>#}
                    {#<span class="line"></span>#}
                    {#<span class="line"></span>#}
                    {#<span class="line line-angle1"></span>#}
                    {#<span class="line line-angle2"></span>#}
                {#</a>#}

                {{ title }}
            </h1>

        </div>
        <div class="col-sm-6">

            {% for widget in widgets %}
                {{ renderBlock(widget) }}
                {% if not loop.last %}<span class="separator"></span>{% endif %}
            {% endfor %}

        </div>
    </div>
</header>

<div class="mailbox-actions">
    {{ renderBlock(actions) }}
</div>
