{{ renderBlock(header) }}

<div id="{{ uniqid }}" class="mailbox-email-list layout-entity-content">
    <div class="nano">
        <div class="nano-content">


            <ul id="" class="list-unstyled">

                <li class="unread">
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail1">
                                <label for="mail1"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">11:35 am</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <i class="mail-label" style="border-color: #EA4C89"></i>

                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail2">
                                <label for="mail2"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">Check it out.</span>
                            </p>
                            <i class="mail-attachment fa fa-paperclip"></i>
                            <p class="m-none mail-date">3:35 pm</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="mailbox-email.html">
                        <div class="col-sender">
                            <div class="checkbox-custom checkbox-text-primary ib">
                                <input type="checkbox" id="mail3">
                                <label for="mail3"></label>
                            </div>
                            <p class="m-none ib">Okler Themes</p>
                        </div>
                        <div class="col-mail">
                            <p class="m-none mail-content">
                                <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span>
                                <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span>
                            </p>
                            <p class="m-none mail-date">Jul 03</p>
                        </div>
                    </a>
                </li>

            </ul>
            MARC
        </div>
    </div>
</div>