{{ renderBlock(header) }}

{% if actions.root %}
    <div class="menu-actions">
        {{ renderBlock(actions) }}
    </div>
{% endif %}

<div id="{{ uniqid }}" class="entity-body{% if actions.root %} content-with-menu-has-actions{% endif %}">
    <div class="nano">
        <div class="nano-content">
            {{ renderBlock(body) }}
        </div>
    </div>
</div>