<!-- start: sidebar -->
{#<aside id="sidebar-left" class="sidebar-left">#}
<aside id="{{ uniqid }}" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            {{ title }}
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">

            {% for widget in widgets %}
                {{ renderBlock(widget) }}
                {% if not loop.last %}<hr class="separator" />{% endif %}
            {% endfor %}

        </div>
    </div>

</aside>
<!-- end: sidebar -->