<div class="entity-header mb-lg">
    <h3 class="entity-title m-none text-weight-light">
        {{ title | raw }}
    </h3>

    <p class="entity-subtitle mt-lg mb-none text-md">{{ subtitle | raw }}</p>
</div>

<div class="entity-body">
    {{ renderBlock(body) }}
</div>
