{% trans_default_domain 'FOSUserBundle' %}


{% if invalid_username is defined %}
    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
{% endif %}

<form action="{{ path('user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

    <div class="form-group mb-lg">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <div class="input-group input-group-icon">
            <input type="text" id="username" name="username" required="required" class="form-control input-lg" />
            <span class="input-group-addon">
                <span class="icon icon-lg">
                    <i class="fa fa-user"></i>
                </span>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" id="submit" name="submit" class="btn btn-primary btn-block btn-lg mt-lg">{{ 'resetting.request.submit'|trans }}</button>
        </div>
    </div>


    {#<span class="mt-lg mb-lg line-thru text-center text-uppercase">#}
    {#<span>or</span>#}
    {#</span>#}

    {#<div class="mb-xs text-center">#}
    {#<a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>#}
    {#<a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>#}
    {#</div>#}

    {#<p class="text-center">Don't have an account yet? <a href="pages-signup.html">Sign Up!</a>#}

</form>



