{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form '@UneakPortoAdmin/FOSUser/porto_theme.html.twig' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

    {{ form_widget(form) }}

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" id="submit" name="submit" class="btn btn-primary btn-block btn-lg mt-lg">{{ 'change_password.submit'|trans }}</button>
        </div>
    </div>
</form>
